@use '../../common/extends' as *;
@use '../../common/variables' as *;

.planning {
  padding-top: map-get($spacing, 'spacing-27');
  padding-bottom: map-get($spacing, 'spacing-27');
  background-color: map-get($colors, 'banner-bg');
  position: relative;

  &__illustration {
    width: 653px;
    height: 436px;
    position: absolute;
    top: 20%;
    left: 50%;
    overflow: hidden;
    z-index: 0;

    img {
      width: 100%;
      height: auto;
    }
  }


  &__description {
    display: flex;
    flex-direction: column;
    gap: map-get($spacing, 'spacing-4');
    margin-bottom: map-get($spacing, 'spacing-7');;

    h6 {
      color: map-get($colors, 'headers-color');
      font-size: map-get($font-sizes, 'xs');
      letter-spacing: 1px;
    }

    h2 {
      font-family: $main-font-family;
      font-weight: map-get($font-weights, 'light');
      font-size: map-get($font-sizes, 'xxl');
      color: map-get($colors, 'headers-color');

      span {
        margin: 0 map-get($spacing, 'spacing-2');
      }

      b {
        font-weight: map-get($font-weights, 'bold');
      }

    }

    p {
      color: map-get($colors, 'body-color');
    }

  }

  &__content {
    $content-width: 413px;
    text-align: left;
    width: $content-width;
  }

  &__buttons {
    display: flex;
    margin: 0;

    .btn {
      margin: 0;
    }

    .btn-primary {
      border-radius: 4px 0 0 4px;
    }

    .btn-alternative {
      border-radius: 0 4px 4px 0;
    }

  }

}