@use '../../common/extends' as *;
@use '../../common/variables' as *;

.partners {

  &__content {
    display: flex;
    justify-content: center;
    gap: map-get($spacing, 'spacing-11');
    padding-top: map-get($spacing, 'spacing-9');
    padding-bottom: map-get($spacing, 'spacing-9');
  }

  &__logo {

    path {
      transition: 0.3s;
      fill: map-get($colors, 'btn-alternative-border-color');
    }

    &:hover path {
      fill: map-get($colors, 'accent-color');
    }

  }

}